
.leave-summary{
  background-color: #20dad8;
  height: 25vh;
  width:94%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5vh 3% 5vh 3%;
  border-radius: 5px;
}

table {
  width: 90%;
  border-collapse: collapse;
  text-align:center;

}
table  {
  border: 1px solid #120907;
  color:#FFFFFF;
}

table  {
  border: 1px solid #120907;
  color:#FFFFFF;
}
th{
  background-color:#209ed8;
}
td{
  background-color: #20dad8;
}

.padding{
  /* padding:2rem; */
  padding: 2rem 2rem 2rem 20%;
}
body{
  width:100%;
  height:100vh;
  padding-left:20%;
}
.profileheader{
  top:70px;
  right:0;
  position:fixed;
  width:80%;
}            
a{
  text-decoration:none;
}

