header{
  background-color: #85a2bd;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width:99%;
  height:50px;
  top:0px;
  left:0px;
  position: fixed;
  z-index: 999;

}
body{
  padding-top:70px;
}
/* Style for the company icon */
.company-icon img {
  max-height: 50px;
}

/* Style for the demo buttons */
.demo-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.demo-buttons button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #fff;
  color: #333;
  cursor: pointer;
 
}

/* Style for the login dropdown */
.dropdown {
  position: relative;
  z-index: 999;
  /* display: inline-block; */
}

.dropbtn {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  /* Style for the demo buttons */
  .demo-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .demo-buttons button {
    margin: 5px;
  }
}