{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Employee </title>
        <link rel="stylesheet"  href="{% static 'css/admin_home.css' %}">
        <style>
          #cmg{
            width:600px;
            height:600px;
           
          }
        </style>

    </head>
    <body>
        {% include 'employee_header.html' %}
        <div class="container">
                <div class="sidebar" style="background-color:#209ed8;">
                    <ul>
                        <li>
                            <div class="menu">
                                <ul>
                                  <li>
                                    <a style="color:#FFFFFF;margin-left:0px;" href="#">Employee</a>
                                  <ul>
                                      <li><a href="{% url 'employeeRegistration' %}">Add New Employee</a></li>
                                      <li><a href="{% url 'aproveLeave' %}">Aprove Employee Leave</a></li>
                                      <li><a href="{% url 'resetEmployeePassword' %}">Reset Employee Password</a></li>
                                      <li><a href="#">Delete Employee</a></li>
                                      <li><a href="{% url 'viewAllEmployee' %}">View</a></li>
                                      
                                    </ul>
                                  </li>
                                </ul>
                              <ul>
                                </li  ><a style="padding-left: 10px;" href="{% url 'holidayRegistration' %}">Register Holiday</a></li>
                              </ul><br>
                              <ul>
                                </li><a style="padding-left: 10px;" href="{% url 'adminLogout' %}">Log Out</a></li>
                              </ul>
                              </div>
                    </ul>
                </div>
                <div style="height:auto;width:100%; display:flex;justify-content:center;"><img id ="cmg" src="{% static 'images/comming_soon1.png' %}"></div>
        </div>
        
    </body>
</html>