{% load static %}
<!DOCTYPE html>
<html>
  <head>  
      <title>Employee
        </title>
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
    </head>
    <body>
      <header>
        
          <div class="company-icon">
              <a href="{% url 'base' %}"><img src="{% static 'icons/company-icon.png' %}" alt="Company Logo"></a>
            </div>
            <div class="demo-buttons">
              <button>Services</button>
              <button>Technologies</button>
              <button>Blogs</button>
              <button>Carrers</button>
              <button>log Out</button>
            </div>
          
      </header>
                   
    </body>
</html>



  