{% comment %} {% include 'base.html' %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="title"> <h1></h1> </div>
        {% block content %}
            <div class="container">
                <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                         <div class="card-header"><h3>Holiday Registration </h3></div> 
                            <div class="card-body">


                        <form method="POST" action="{% url 'holidayRegistration' %}">
                            {% csrf_token %}
                            <div class="col-md-4 col-form-label text-md-right"><h5>Holiday Details</h5></div>
                        
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right"> Holiday name </label>
                                    <div class="col-md-6">
                                        <input id="name" type="text" class="form-control" name="name" required>
                                    </div>
                            </div>

                            <div class="form-group row">
                                <label for="date" class="col-md-4 col-form-label text-md-right">  Date </label>
                                    <div class="col-md-6">
                                        <input id="date" type="date" class="form-control" name="date" required>
                                    </div>
                            </div>

                            <div class="form-group row">
                                <label for="day" class="col-md-4 col-form-label text-md-right">  Day </label>
                                    <div class="col-md-6">
                                        <input id="day" type="text" class="form-control" name="day" required>
                                    </div>
                            </div>

                            <div class="form-group button">
                                <button type="reset" class="btn btn-secondary">Reset</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
        {% endblock %}
    </body>
</html>
