{% load static %}
{% comment %} {% include 'base.html' %} {% endcomment %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
            <style>
                .card{
                    top:5vh;
                }
            </style>
    </head>
    <body>
        <div class="title"><h1></h1> </div>
        {% block content %}
            <div class="container">
                <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                         <div class="card-header"><h3>{{title}} </h3></div> 
                            <div class="card-body">
                                
                        <form method="POST" action="{% url 'resetAdminPassword' %}">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="id" class="col-md-4 col-form-label text-md-right"> Select Employee</label>
                                <div class="col-md-6">
                                    <select id="id" class="form-control" name="id" >
                                        {% for a in admin %}
                                            <option value="{{ a.emp_id }}" class="form-control">{{ a.emp_id }} {{ a.emp_id.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="cpassword" class="col-md-4 col-form-label text-md-right">  Confirm Password </label>
                                    <div class="col-md-6">
                                        <input id="cpassword" type="password" class="form-control" name="cpassword" required>
                                    </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">  Password </label>
                                    <div class="col-md-6">
                                        <input id="password" type="password" class="form-control" name="password" required>
                                    </div>
                            </div>

                            <div class="form-group button">
                                <button type="reset" class="btn btn-secondary">Reset</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
        {% endblock %}
    </body>
</html>
