{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Update Employee Package Information</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
      .button{
        display:flex;
        justify-content:center;
        gap:30px;
      }
    </style>
  </head>
  <body>
    <div class="title"> <h1></h1> </div>
    {% block content %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
          <h3> <div class="card-header">Update Employee Package Information</div> </h3>
            <div class="card-body">
              <form method="post" action="{% url 'updateEmployeePackage' %}">
                {% csrf_token %}
                <input id="emp_id" type="number" class="form-control" name="emp_id" style="display:none;" value={{package.id}}>
                
                <div class="form-group row">
                        <label for="official_name" class="col-md-4 col-form-label text-md-right"><b>Employee Name</b> </label>
                    <div class="col-md-6">
                        <input id="official_name" type="text" class="form-control" name="official_name"  autocomplete="off" required readonly value="{{package.id.name}}">
                    </div>
                </div>

                <div class="form-group row">
                        <label for="package" class="col-md-4 col-form-label text-md-right"><b>Package</b> </label>
                    <div class="col-md-6">
                        <input id="package" type="text" class="form-control" name="package"  autocomplete="off" required value="{{package.package}}">
                    </div>
                </div>

                <div class="form-group row">
                        <label for="bonus" class="col-md-4 col-form-label text-md-right"><b>Bonus</b> </label>
                    <div class="col-md-6">
                        <input id="bonus" type="text" class="form-control" name="bonus"  autocomplete="off" required value="{{package.bonus}}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="in_hand_salary" class="col-md-4 col-form-label text-md-right"><b>Salary In Hand </b></label>
                <div class="col-md-6">
                    <input id="in_hand_salary" type="text" class="form-control" name="in_hand_salary"  autocomplete="off" required value="{{package.in_hand_salary}}">
                </div>
                </div> 
                
                <div class="form-group row">
                    <label for="gross_salary" class="col-md-4 col-form-label text-md-right"><b>Gross Salary</b></label>
                <div class="col-md-6">
                    <input id="gross_salary" type="text" class="form-control" name="gross_salary"  autocomplete="off" required value="{{package.gross_salary}}">
                </div>
                </div>  

                <div class="form-group row">
                    <label for="basic_salary" class="col-md-4 col-form-label text-md-right"><b>Basic Salary</b></label>
                <div class="col-md-6">
                    <input id="basic_salary" type="text" class="form-control" name="basic_salary"  autocomplete="off" required value="{{package.basic_salary}}">
                </div>
                </div>

                <div class="form-group row">
                    <label for="erf" class="col-md-4 col-form-label text-md-right"><b>Earnings Request Form </b></label>
                <div class="col-md-6">
                    <input id="erf" type="text" class="form-control" name="erf"  autocomplete="off" required value="{{package.erf}}">
                </div>
                </div>

                <div class="form-group row">
                    <label for="hra" class="col-md-4 col-form-label text-md-right"><b>House Rent Allowance </b></label>
                <div class="col-md-6">
                    <input id="hra" type="text" class="form-control" name="hra"  autocomplete="off" required value="{{package.hra}}">
                </div>
                </div>

                <div class="form-group row">
                    <label for="travell_allowance" class="col-md-4 col-form-label text-md-right"><b>Travel Allowance </b></label>
                <div class="col-md-6">
                    <input id="travell_allowance" type="text" class="form-control" name="travell_allowance"  autocomplete="off" required value="{{package.travell_allowance}}">
                </div>
                </div>

                <div class="form-group row">
                    <label for="medical_allowance" class="col-md-4 col-form-label text-md-right"><b>Medical Allowance </b></label>
                <div class="col-md-6">
                    <input id="medical_allowance" type="text" class="form-control" name="medical_allowance"  autocomplete="off" required value="{{package.medical_allowance}}">
                </div>
                </div>

                <div class="form-group row">
                    <label for="other_allowance" class="col-md-4 col-form-label text-md-right"><b>Other Allowance </b></label>
                <div class="col-md-6">
                    <input id="other_allowance" type="text" class="form-control" name="other_allowance"  autocomplete="off" required value="{{package.other_allowance}}">
                </div>
                </div>

                <div class="form-group row">
                    <label for="esic" class="col-md-4 col-form-label text-md-right"><b>ESIC  </b></label>
                <div class="col-md-6">
                    <input id="esic" type="text" class="form-control" name="esic"  autocomplete="off" required value="{{package.esic}}">
                </div>
                </div>

                <div class="form-group row">
                    <label for="pt" class="col-md-4 col-form-label text-md-right"><b>Professional Tax  </b></label>
                <div class="col-md-6">
                    <input id="pt" type="text" class="form-control" name="pt"  autocomplete="off" required value="{{package.pt}}">
                </div>
                </div>

            </div>

              <div class="form-group button">
                <button type="submit" class="btn btn-primary" style="display:flex;justify-content" >Submit</button>
              </div>
            </div>
              
{% endblock %}
    </form>
  </body>
</html>
